@import url("https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navbar {
  background-color: #fff;
}
.navbar-brand {
  font-size: medium;
  color: rgb(194, 46, 46);
}
.navbar a {
  font-size: 1.2rem;
  text-transform: capitalize;
}
.navbar a:hover {
  color: #000;
}
#header {
  width: 100%;
  height: 80vh;
  margin-top: 70px;
}
#header h1 {
  margin: 0 0 10px 0;
  font-size: 40px;
  font-weight: 700;
  color: black;
}
#header .brand-name {
  color: #3498db;
}
#header h3 {
  color: #484848;
  font-size: 19px;
}
#header .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  transition: 0.5s;
  border-radius: 50px;
  color: #3498db;
  border: 2px solid #3498db;
  text-decoration: none;
}
#header .btn-get-started:hover {
  background: #3498db;
  color: #fff;
}
#header-img {
  text-align: right;
}
#header.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(10);
  }
  100% {
    transform: translateY(-10px);
  }
}
